* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
body {
  background: #16151a;
  color: #fff;
}
header {
  width: 100%;
  background: #799c9c;
  align-items: center;
  justify-content: space-between;
  display: flex;
  text-transform: uppercase;
}
.logo {
  margin: 20px 10%;
  width: 500px;
  cursor: pointer;
}
.logo h2 {
  font-size: 30px;
}
.logo h2 a {
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
}
.navbar {
  display: block;
  margin: 20px 10px;
}
.navbar ul li {
  display: inline-flex;
  margin: 0 10px;
  font-size: 18px;
  font-weight: bold;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
  border: 0;
  border-radius: 30px;
  margin: 0 2px;
  padding: 8px 18px;
}
.navbar ul li a:hover {
  background-color: #0c22ed;
}
.navbar ul li a.active {
  background-color: #0c22ed;
}
.hero-container {
  width: 100%;
  background: url(img/hero-bg.png);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  align-content: center;
}
.hero-content {
  height: 400px;
  display: block;
  padding: 0 35px;
  width: 720px;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.hero-content h1 {
  color: #012970;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 20px;
}
.hero-content h3 {
  color: #16151a;
  font-weight: 600;
  line-height: 2;
}
.hero-container .anchor {
  width: 30%;
  margin: 30px auto;
  line-height: 0;
  padding: 25px 40px;
  border-radius: 4px;
  transition: 0.5s ease-in;
  color: #fff;
  background: #4154f1;
  box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
}
.anchor a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
.hero-img {
  margin: 20px auto;
  padding-right: 15px;
  transition: 0.2s;
}
.about-container {
  background: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  align-content: center;
}
.content {
  height: 400px;
  display: block;
  padding: 0 35px;
  width: 720px;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.content h3 {
  color: #0c22ed;
}
.content h2 {
  color: #16151a;
}
.content p {
  color: black;
}
.content .anchor {
  width: 30%;
  margin: 30px auto;
  line-height: 0;
  padding: 25px 40px;
  border-radius: 4px;
  transition: 0.5s ease-in;
  color: #fff;
  background: #4154f1;
  box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
}
.anchor a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
.about-img {
  margin: 20px auto;
  padding-right: 15px;
  transition: 0.2s;
}
