* {
  margin: 0;
  padding: 0;
}
body {
  min-width: 100vh;
  background-image: url(footer-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
nav {
  background: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li {
  height: 50px;
}
nav a {
  height: 100%;
  display: flex;
  color: black;
  text-decoration: none;
  padding: 0 30px;
  width: 100%;
  align-items: center;
}
nav a:hover {
  background: #f0f0f0;
}
nav li:first-child {
  margin-right: auto;
}
.sidebar {
  position: fixed;
  display: none;
  flex-direction: column;
  backdrop-filter: blur(10px);
  align-items: flex-start;
  justify-content: flex-start;
  width: 250px;
  height: 100vh;
  top: 0;
  z-index: 999;
  right: 0;
  background: rgba(255, 255, 255, 0);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
}
.sidebar li {
  width: 100%;
}
.sidebar a {
  width: 100%;
}
.menu-button {
  display: none;
}
@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
}
@media (max-width: 600px) {
  .sidebar {
    width: 50%;
  }
}
@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}
